%div.row.bottom-spacer
  %div.col-sm-12
    = form_for(@season) do |f|
      - if @season.errors.any?
        %div#error_explanation
          %h2
            = pluralize(@season.errors.count, "error")
            prohibited this season from being saved:

          %ul
            - @season.errors.full_messages.each do |message|
              %li
                = message

      %div.panel.panel-primary
        %div.panel-heading
          %h3.panel-title
            Season Details
        %div.panel-body
          %div.row
            %div.col-sm-4
              = f.label :name
              = f.text_field :name, class: "form-control"
            %div.col-sm-4
              = f.label :start
              = f.date_select :start, {order: [:month, :day, :year]}, {class: "form-control"}
            %div.col-sm-4
              = f.label :end
              = f.date_select :end, {order: [:month, :day, :year]}, {class: "form-control"}

      %div.panel.panel-primary
        %div.panel-heading
          %h3.panel-title
            Games
        %div.panel-body
          = f.fields_for :games do |builder|
            = render 'game_fields', f: builder
          %div.links
            = link_to_add_association 'Add Game', f, :games, class: "btn btn-success"

      = f.submit class: "btn btn-success"
