%div.row.bottom-spacer
  %div.col-sm-12
    = form_for(@season) do |f|
      - if @season.errors.any?
        %div#error_explanation
          %h2
            = pluralize(@season.errors.count, "error")
            prohibited this season from being saved:

          %ul
            - @season.errors.full_messages.each do |message|
              %li
                = message

      = render 'season', f: f
      = render 'games', f: f

      %div.panel.panel-primary
        %div.panel-heading
          %h3.panel-title
            Sections
        %div.panel-body
          = f.fields_for :sections do |builder|
            = render 'section_fields', f: builder
          %div.col-sm-4
            = link_to_add_association 'Add Section', f, :sections, class: "btn btn-success btn-block"

      = f.submit class: "btn btn-success"
