%div.jumbotron
  %h1
    = @season.name
  %div.row.bottom-spacer
    %div.col-sm-4
      %span.label.label-primary
        Start:
      = "&nbsp;".html_safe
      = @season.start.strftime("%B %e, %Y")
    %div.col-sm-4
      %span.label.label-primary
        End
      = "&nbsp;".html_safe
      = @season.end.strftime("%B %e, %Y")

%div.row.bottom-margin-large
  %div.col-sm-12
    %div.btn-group.btn-group-justified
      = link_to "Recruitment", season_recruitment_path(@season), class: "btn btn-warning"
      = link_to "Gigs", season_gigs_path(@season), class: "btn btn-info"
      = link_to "GDS", season_gds_path(@season), class: "btn btn-danger"
      = link_to 'Edit Season', edit_season_path(@season), class: "btn btn-success"

%div.row
  %div.col-sm-12
    %div.panel.panel-primary
      %div.panel-heading
        %div.panel-title
          Season Summary
      %div.panel-body
        %div.row
          %div.col-sm-2
            %strong
              Games
          %div.col-sm-10
            %ul.list-group
              - @season.games.order(:played_on).each do |game|
                %li.list-group-item
                  = game.name
                  on
                  = game.played_on.strftime("%B %e, %Y")
        %div.row
          %div.col-sm-2
            %strong
              Sections
          %div.col-sm-10
            %ul.list-group
              - @season.sections.order(:name).each do |section|
                %li.list-group-item
                  %div.row
                    %div.col-sm-3
                      = link_to section.name, section_path(section)
                    %div.col-sm-3
                      Returning Members:
                      %strong
                        = section.returning_members
                    %div.col-sm-3
                      Rookies:
                      %strong
                        = section.rookies
                    %div.col-sm-3
                      = link_to "Section Breakdown", search_students_terms_path("large_filter"=>["section #{section.id}"], "fields"=>[3, 5]), method: :post

%div.row
  %div.col-sm-12
    = link_to 'Back', seasons_path, class: "btn btn-danger"
