%div.jumbotron
  %h1
    - if params.has_key? :student_id
      %span
        Contacting
        = Student.find(params[:student_id]).first_name
    - else
      Contacting Recruit
  - if !@student.nil?
    %p
      %div.row
        %div.col-sm-4
          %span.label.label-primary
            Email:
          %span
            :plain
              &nbsp;
            = @student.email
        %div.col-sm-4
          %span.label.label-primary
            Home Phone:
          %span
            :plain
              &nbsp;
          = @student.home_phone
        %div.col-sm-4
          %span.label.label-primary
            Cell Phone:
          %span
            :plain
              &nbsp;
          = @student.cell_phone

      %div.row
        %div.col-sm-4
          %span.label.label-primary
            Instrument Interests:
          %span
            :plain
              &nbsp;
            = @student.instrument_list
        %div.col-sm-4
          %span.label.label-primary
            Ensemble Interests:
          %span
            :plain
              &nbsp;
          = @student.ensemble_list

= render 'form'
- if params.has_key? :student_id
  = render 'comments'

= link_to 'Back', students_path, class: "btn btn-danger"
