<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @comment.student_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Contact type:</strong>
  <%= @comment.contact_type_id %>
</p>

<p>
  <strong>Recruit status:</strong>
  <%= @comment.recruit_status_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
