<%= form_for(@student_ribbon) do |f| %>
  <% if @student_ribbon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_ribbon.errors.count, "error") %> prohibited this student_ribbon from being saved:</h2>

      <ul>
      <% @student_ribbon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :ribbon_id %><br>
    <%= f.number_field :ribbon_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
