<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student_ribbon.student_id %>
</p>

<p>
  <strong>Ribbon:</strong>
  <%= @student_ribbon.ribbon_id %>
</p>

<%= link_to 'Edit', edit_student_ribbon_path(@student_ribbon) %> |
<%= link_to 'Back', student_ribbons_path %>
