%div.row.bottom-spacer
  %div.col-sm-12
    = form_for(@ribbon) do |f|
      - if @ribbon.errors.any?
        %div.error_explanation
          %h2
            = pluralize(@ribbon.errors.count, "error")
            prohibited this ribbon from being saved:

          %ul
          - @ribbon.errors.full_messages.each do |message|
            %li
              = message

      %div.field
        = f.label :name
        = f.text_field :name, class: "form-control"
      %div.field.bottom-margin
        = f.label :description
        = f.text_area :description, class: "form-control"
      %div.actions
        = f.submit class: "btn btn-success"
