<% if f.object.field_id == field.id && !field.hidden %>
  <%=field.name%></br>
  <div class="field">
    <%= f.hidden_field :field_id, :value => field.id %>
    <%= f.label :address_1 %><br>
    <%= f.text_field :address_1 %> </br>
    <%= f.label :address_2 %><br>
    <%= f.text_field :address_2 %> </br>
    <%= f.label :city %><br>
    <%= f.text_field :city %> </br>
    <%= f.label :state_id %><br>
    <%= f.collection_select(:state_id, State.all, :id, :name) %> </br>
    <%= f.label :zip %><br>
    <%= f.text_field :zip %> </br>
  </div>
<% end %>
