<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :recruit %><br>
    <%= f.check_box :recruit %>
  </div>


  <%= f.fields_for :student_instruments do |builder| %>
    <%= render 'student_instrument_fields', :f => builder %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'add instrument', f, :student_instruments %>
  </div>

  <% Field.order(:index).each do |field| %>
    <% case field.group %>
    <% when Group.where(name: "Address").first %>
      <%= f.fields_for :addresses do |builder| %>
        <%= render 'address_fields', :field => field, :f => builder %>
      <% end %>
    <% when Group.where(name: "Text").first %>
      <%= f.fields_for :texts do |builder| %>
        <%= render 'text_fields', :field => field, :f => builder %>
      <% end %>
    <% when Group.where(name: "Option").first %>
      <%= f.fields_for :options do |builder| %>
        <%= render 'option_fields', :field => field, :f => builder %>
      <% end %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
