%table.table.table-hover.table-condensed.table-striped#dataTable
  %thead
    %tr
      %th
      %th.selected
        Name
      %th.selected
        Email
      - if @special_fields.include?("Instruments")
        %th.selected
          Instrument Interests
      - if @special_fields.include?("Ensembles")
        %th.selected
          Ensemble Interests
      - if @special_fields.include?("Sections")
        %th.selected
          Seasons/Section/Rank
      - if @special_fields.include?("Recruit")
        %th.selected
          Recruit
      - if @special_fields.include?("Claimed")
        %th.selected
          Claimed
      - if @special_fields.include?("Hometown")
        %th.selected
          Hometown
      - @fields.each do |field|
        - case field.group_id
        - when 1
          %th.selected
            = "#{field.name} Line 1"
          %th.selected
            = "#{field.name} Line 2"
          %th.selected
            = "#{field.name} City"
          %th.selected
            = "#{field.name} State"
          %th.selected
            = "#{field.name} Zip"
        - when 2
          %th.selected
            = field.name
        - when 3
          %th.selected
            = field.name
      %th
        Name
  %tbody
    - @students.each_with_index do |student, i|
      %tr
        %td
          %div.btn-group{style: "min-width: 93px"}
            = link_to (fa_icon "desktop"), edit_student_path(student), class: "btn btn-success btn-xs", title: "Details"
            = link_to (fa_icon "plus"), student_claim_path(student), method: :put, class: "btn btn-info btn-xs", title: "Claim"
            = link_to (fa_icon "users"), sections_student_path(student), class: "btn btn-warning btn-xs", title: "Sections"
            - if student.archive
              = link_to (fa_icon "archive"), student_unarchive_path(student), method: :put, data: { confirm: "Are you sure you wish to unarchive #{student.full_name}?" }, class: "btn btn-default btn-xs", title: "Unarchive"
            - else
              = link_to (fa_icon "archive"), student_archive_path(student), method: :delete, data: { confirm: "Are you sure you wish to archive #{student.full_name}?" }, class: "btn btn-danger btn-xs", title: "Archive"
        %td
          = student.full_name_reversed
        %td
          = student.email
        - if @special_fields.include?("Instruments")
          %td
            = student.instrument_list
        - if @special_fields.include?("Ensembles")
          %td
            = student.ensemble_list
        - if @special_fields.include?("Sections")
          %td
            = student.rank_list
        - if @special_fields.include?("Recruit")
          %td
            = student.recruit.to_s.capitalize
        - if @special_fields.include?("Claimed")
          %td
            = (student.claimed_students.size > 0).to_s.capitalize
        - if @special_fields.include?("Hometown")
          %td
            = student.hometown
        - @fields.each do |field|
          - case field.group_id
          - when 1
            - add = nil
            - student.addresses.each do |address|
              - if address.field_id == field.id
                - add = address
                - break
            - if !add.nil?
              %td
                = add.address_1
              %td
                = add.address_2
              %td
                = add.city
              %td
                = add.state.name
              %td
                = add.zip
            - else
              %td
              %td
              %td
              %td
              %td
          - when 2
            %td
              - student.texts.each do |text|
                - if text.field_id == field.id
                  = text.content
                  - break
          - when 3
            %td
              - student.options.each do |option|
                - if option.field_id == field.id
                  = option.choice
                  - break
        %td
          = student.full_name_reversed
