%table.table.table-hover.table-condensed.table-striped#dataTable
  %thead
    %tr
      %th
      %th.selected
        Name
      %th.selected
        Email
      - if @special_fields.include?("Instruments")
        %th.selected
          Instruments
      - if @special_fields.include?("Ensembles")
        %th.selected
          Ensembles
      - @fields.each do |field|
        - f = Field.find(field)
        - case f.group_id
        - when 1
          %th.selected
            = "#{f.name} Line 1"
          %th.selected
            = "#{f.name} Line 2"
          %th.selected
            = "#{f.name} City"
          %th.selected
            = "#{f.name} State"
          %th.selected
            = "#{f.name} Zip"
        - when 2
          %th.selected
            = f.name
        - when 3
          %th.selected
            = f.name
      %th
        Name
  %tbody
    - @students.each_with_index do |student, i|
      %tr
        %td
          = link_to "Details", edit_student_path(student)
          = link_to "Claim", student_claim_path(student), method: :put
        %td
          = student.full_name_reversed
        %td
          = student.email
        - if @special_fields.include?("Instruments")
          %td
            = student.instrument_list
        - if @special_fields.include?("Ensembles")
          %td
            = student.ensemble_list
        - @fields.each do |field|
          - case Field.find(field).group_id
          - when 1
            %td
              = student.field(field).address_1
            %td
              = student.field(field).address_2
            %td
              = student.field(field).city
            %td
              = student.field(field).state.name
            %td
              = student.field(field).zip
          - when 2
            %td
              = student.field(field).content
          - when 3
            %td
              = student.field(field).choice
        %td
          = student.full_name_reversed
