%table.table.table-hover.table-condensed.table-striped#dataTable
  %thead
    %tr
      %th
      %th.selected
        Name
      %th.selected
        Email
      - if @special_fields.include?("Instruments")
        %th.selected
          Instrument Interests
      - if @special_fields.include?("Ensembles")
        %th.selected
          Ensemble Interests
      - if @special_fields.include?("Sections")
        %th.selected
          Seasons/Section/Rank
      - @fields.each do |field|
        - f = Field.find(field)
        - case f.group_id
        - when 1
          %th.selected
            = "#{f.name} Line 1"
          %th.selected
            = "#{f.name} Line 2"
          %th.selected
            = "#{f.name} City"
          %th.selected
            = "#{f.name} State"
          %th.selected
            = "#{f.name} Zip"
        - when 2
          %th.selected
            = f.name
        - when 3
          %th.selected
            = f.name
      %th
        Name
  %tbody
    - @students.each_with_index do |student, i|
      %tr
        %td
          %div.dropdown
            %button.btn.btn-default.dropdown-toggle{'type'=>"button",'id'=>"dropdownMenu#{i}",'data-toggle'=>"dropdown",'aria-expanded'=>"true"}
              = fa_icon "cog"
              %span.caret
            %ul.dropdown-menu{'role'=>"menu",'aria-labelledby'=>"dropdownMenu#{i}"}
              %li{'role'=>"presentation"}
                = link_to "Details", edit_student_path(student)
              %li{'role'=>"presentation"}
                = link_to "Claim", student_claim_path(student), method: :put
              %li{'role'=>"presentation"}
                = link_to "Sections", sections_student_path(student)
              %li{'role'=>"presentation"}
                - if student.archive
                  = link_to "Unarchive", student_unarchive_path(student), method: :put, data: { confirm: "Are you sure you wish to unarchive #{student.full_name}?" }
                - else
                  = link_to "Archive", student_archive_path(student), method: :delete, data: { confirm: "Are you sure you wish to archive #{student.full_name}?" }
        %td
          = student.full_name_reversed
        %td
          = student.email
        - if @special_fields.include?("Instruments")
          %td
            = student.instrument_list
        - if @special_fields.include?("Ensembles")
          %td
            = student.ensemble_list
        - if @special_fields.include?("Sections")
          %td
            = student.rank_list
        - @fields.each do |field|
          - case Field.find(field).group_id
          - when 1
            %td
              = student.field(field).address_1
            %td
              = student.field(field).address_2
            %td
              = student.field(field).city
            %td
              = student.field(field).state.name
            %td
              = student.field(field).zip
          - when 2
            %td
              = student.field(field).content
          - when 3
            %td
              = student.field(field).choice
        %td
          = student.full_name_reversed
