%h1
  Claimed Students

%div.table-responsive
  %table.table
    %thead
      %tr
        %th
          :plain
            #
        %th
          Name
        %th
          Major
        %th
          Email
        %th
          Hometown
        %th.text-center
          Details
        %th.text-center
          Archive
        %th.text-center
          Comment
        %th.text-center
          Unclaim
    %tbody
      - @claimed_students.each_with_index do |student, i|
        %tr
          %th.row
            = i + 1
          %td
            = student.full_name_inversed
          %td
            = student.major
          %td
            = student.email
          %td
            = student.hometown
          %td.text-center
            = link_to (fa_icon "desktop"), student, class: "btn btn-success"
          %td.text-center
            = link_to (fa_icon "archive"), student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
          %td.text-center
            = link_to (fa_icon "comments-o"), new_comment_path(student_id: student.id), class: "btn btn-primary"
          %td.text-center
            = link_to (fa_icon "remove"), student_unclaim_path(student), method: :put, remote: true, class: "btn btn-warning"

%h1
  Unclaimed Students
%div.table-responsive
  %table.table
    %thead
      %tr
        %th
          :plain
            #
        %th
          Name
        %th
          Hometown
        %th
          Instuments
        %th
          Ensembles
        %th.text-center
          Details
        %th.text-center
          Claim
    %tbody
      - @unclaimed_students.each_with_index do |student, i|
        %tr
          %th.row
            = i + 1
          %td
            = student.full_name_inversed
          %td
            = student.hometown
          %td
            = student.instrument_list
          %td
            = student.ensemble_list
          %td.text-center
            = link_to (fa_icon "desktop"), student, class: "btn btn-success"
          %td.text-center
            = link_to (fa_icon "plus"), student_claim_path(student), method: :put, remote: true, class: "btn btn-warning"

= link_to 'New Student', new_student_path, class: "btn btn-success"
