%div.row
  %h1
    %div.col-sm-6
      Claimed Students
  %div.col-sm-6
    %div.btn-group.pull-right-cond
      = link_to 'New Student', new_student_path, class: "btn btn-success"
      = link_to 'Import Students', import_students_path, class: "btn btn-success"

- if @claimed_students.size != 0
  = render 'claimed_students'
- else
  %div.row
    %div.col-sm-12
      %div.alert.alert-danger
        Error: No Students Claimed

%div.row
  %h1
    %div.col-sm-6
      Unclaimed Recruits
      = "(#{@unclaimed_students.size})" if @unclaimed_students.size != 0
    %div.col-sm-6
      %div.btn-group.pull-right
        = link_to "Change Filter", user_favorite_instruments_path, class: "btn btn-default"
        = link_to "View All", unclaimed_students_path, class: "btn btn-default"

- if @unclaimed_students.size != 0
  = render 'unclaimed_students'
- else
  %div.row
    %div.col-sm-12
      %h3
        = link_to "Error: No Students Found, change filter to find more.", user_favorite_instruments_path, class: "btn btn-danger"

