%h1
  Claimed Students

%div.responsive-table
  %table.table
    %thead
      %tr
        %th
          :plain
            #
        %th
          Name
        %th
          Major
        %th
          Email
        %th
          Recruit
    %tbody
      - @claimed_students.each_with_index do |student, i|
        %tr
          %th.row
            = i + 1
          %td
            = student.full_name_inversed
          %td
            = student.field(Field.where(name: "Major").first.id).content
          %td
            = student.email
          %td
            = student.recruit
          %td
            = link_to 'Show', student
          %td
            = link_to 'Edit', edit_student_path(student)
          %td
            = link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }
          %td
            = link_to 'Comment', new_comment_path(student_id: student.id)
%br

= link_to 'New Student', new_student_path, class: "btn btn-success"
