%div.row
  %div.col-sm-12
    %div.jumbotron
      %h1
        Search Students


= form_tag search_students_terms_path, method: :post do
  = render 'search_large_filter'
  = render 'search_detailed_filter'
  = render 'search_table_columns'

  %div.row.bottom-margin
    %div.col-sm-12
      = submit_tag "Apply Changes", class: "btn btn-success btn-block"

= render 'search_students'
