%div.jumbotron
  %h1
    Import Students
  %div.lead
    %i
      Note: Only 100 Students may be uploaded at a time
  %div.lead
    = link_to "Download CSV Template", upload_template_path, class: "btn btn-success"
  Additional Details: Each ensemble_id and instrument_id field are linked together.  You can find the available options by looking in the details
  page for any existing student, or going to the "New Student" page and examining the Instrument Interests dropdown. These two fields are not case
  sensitive, but if an instrument_id field is left blank for the accompanying ensemble_id field, the complete interest will be rejected. Or
  vise-versa.
  %br
  %br
  For state fields, the state code: "IA" or the name: "Iowa" would be accepted. Any dropdown box on the student information page will simply
  display the text in the column provided when uploaded.  Slight differences in spelling or case will not affect the import, but would change
  the consistency of searching for data.
  %br
  %br
  All students are imported as recruits.

%div.row.bottom-margin
  %div.col-sm-12
    = form_tag import_students_path, id: "import_students_form", multipart: true do
      = file_field_tag :file, { :accept => 'text/csv', label: "Import Students",
        "data-filename-placement"=>"inside", title: "Select a File to Upload",
        class: "btn-primary"}
      = submit_tag "Upload File", class: "btn btn-success", id: "import_students_btn"

- if !@student_objects.nil?
  %div.row
    %div.col-sm-12
      %div.panel.panel-primary
        %div.panel-heading
          %div.panel-title
            Processed File Information
        %div.panel-body
          %div.row.bottom-margin
            %div.col-sm-12
              %strong
                Students Identified:
              = @student_objects.count
          %div.row.bottom-margin
            %div.col-sm-6
              = form_tag import_students_confirm_path do
                %div.input-group
                  %span.input-group-addon
                    = check_box_tag "autoclaim", "1", false, id: "autoclaim-checkbox"
                    %label{'for'=> "autoclaim-checkbox"}
                      Auto-Claim
                  %span.input-group-btn
                    = submit_tag "Import Identified Students", id: "import_students_confirm_btn", class: "btn btn-success"
              =# link_to "Import Identified Students", import_students_confirm_path, id: "import_students_confirm_btn", class: "btn btn-success"
          %div.row
            %div.col-sm-12
              %strong
                Student Data:
          %div.row
            %div.col-sm-12
              %div.panel.panel-default
                %div.panel-body.scrollable-420
                  %div#student_json
                    = JSON.pretty_generate(StudentsHelper.format_students(@student_objects))

%div.row
  %div.col-sm-12
    = link_to "Back", students_path, class: "btn btn-danger"
