%div.bottom-spacer
  = form_for([@season, @student, @score]) do |f|
    = f.hidden_field :student_id
    = f.hidden_field :user_id
    %div.row
      %div.col-sm-12
        %div.panel.panel-primary
          %div.panel-heading
            %div.panel-title
              Game
          %div.panel-body
            = f.hidden_field :game_id
            = f.collection_select(:game_id_visible, @season.games, :id, :name, {:selected => @score.game_id}, {disabled: true, class: "form-control"})
    %div.row
      %div.col-sm-12
        %div.panel.panel-primary
          %div.panel-heading
            %div.panel-title
              Music / Performance
          %div.panel-body
            = render 'row', f: f, symbol: :memorization
            = render 'row', f: f, symbol: :music_effort
    %div.row
      %div.col-sm-12
        %div.panel.panel-primary
          %div.panel-heading
            %div.panel-title
              Marching
          %div.panel-body
            = render 'row', f: f, symbol: :marching_fundamentals
            = render 'row', f: f, symbol: :marching_precision
            = render 'row', f: f, symbol: :marching_effort
    %div.row
      %div.col-sm-12
        %div.panel.panel-primary
          %div.panel-heading
            %div.panel-title
              Focus and Preparation
          %div.panel-body
            = render 'row', f: f, symbol: :rehearsal_etiquette
            = render 'row', f: f, symbol: :preparedness
            = render 'row', f: f, symbol: :punctuality
    %div.row
      %div.col-sm-12
        %div.panel.panel-primary
          %div.panel-heading
            %div.panel-title
              Gameday
          %div.panel-body
            = render 'row', f: f, symbol: :gameday_enthusiasm
            = render 'row', f: f, symbol: :gameday_professionalism
    %div.row
      %div.col-sm-12
        %div.panel.panel-primary
          %div.panel-heading
            %div.panel-title
              Comments
          %div.panel-body
            = f.text_area :comment, class: "form-control"
    = f.submit class: "btn btn-success"
