= form_for(@score) do |f|
  = f.label :student_id
  = f.number_field :student_id
  = f.label :user_id
  = f.number_field :user_id
  = f.label :game_id
  = f.number_field :game_id
  = f.collection_select(:game_id, @season.games, :id, :name, {}, {class: "form-control"})
  = f.label :memorization
  = f.number_field :memorization
  = f.label :music_effort
  = f.number_field :music_effort
  = f.label :marching_fundamentals
  = f.number_field :marching_fundamentals
  = f.label :marching_precision
  = f.number_field :marching_precision
  = f.label :marching_effort
  = f.number_field :marching_effort
  = f.label :rehearsal_etiquette
  = f.number_field :rehearsal_etiquette
  = f.label :preparedness
  = f.number_field :preparedness
  = f.label :punctuality
  = f.number_field :punctuality
  = f.label :gameday_enthusiasm
  = f.number_field :gameday_enthusiasm
  = f.label :gameday_professionalism
  = f.number_field :gameday_professionalism
  = f.label :comment
  = f.text_field :comment
  = f.submit
