<%= form_for(@claimed_student) do |f| %>
  <% if @claimed_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@claimed_student.errors.count, "error") %> prohibited this claimed_student from being saved:</h2>

      <ul>
      <% @claimed_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
