%div.row
  %div.col-sm-12
    %div.table-responsive
      %table.table.table-hover.table-condensed
        %thead
          %tr
            %th
              :plain
                #
            %th
              Name
            %th
              Status
            %th
              Last Contact
            %th
              Email
            %th
              Hometown
            %th
              Grad Year
            %th.text-center
              Details
            %th.text-center
              Confirm
            %th.text-center
              Archive
            %th.text-center
              Contact
        %tbody
          - @students.each_with_index do |student, i|
            %tr{ class: "#{student.column_color}"}
              %th.row
                = i + 1
              %td
                = student.full_name_reversed
              - contact_status = student.status
              %td
                = contact_status[0]
              %td
                = contact_status[1]
              %td
                = student.email
              %td
                = student.hometown
              %td
                = student.grad_year
              %td.text-center
                = link_to (fa_icon "desktop"), edit_student_path(student), class: "btn btn-success"
              %td.text-center
                = link_to (fa_icon "check"), sections_student_path(student), class: "btn btn-info"
              %td.text-center
                = link_to (fa_icon "archive"), student_archive_path(student), method: :delete, data: { confirm: 'Are you sure you wish to archive this student?' }, class: "btn btn-danger"
              %td.text-center
                = link_to (fa_icon "comments-o"), new_comment_path(student_id: student.id), class: "btn btn-primary"

