%div.jumbotron
  %h1
    = @name
    %div.lead
      Accountability

%div.row
  %div.col-sm-12
    %div.panel.panel-success
      %div.panel-heading
        %h4.panel-title
          Summary
      %div.panel-body
        %div.row
          %div.col-sm-4
            %strong
              Last Sign In:
            = @user.last_sign_in_at.try(:to_time).try(:strftime, '%b %d \'%y, at %l:%M %p').to_s
          %div.col-sm-4
            %strong
              Claimed Students:
            = @user.students.size
          %div.col-sm-4
            %strong
              Total Comments:
            = @user.comments.size

%div.row
  %div.col-sm-12
    %div.panel.panel-info
      %div.panel-heading{:role => "tab", id: "heading_students"}
        %h4.panel-title
          %a.collapsed{"aria-controls" => "collapse_students", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse_students"}
            Claimed Students
      %div.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel", id: "collapse_students"}
        %div.panel-body
          = render 'claimed_students'

    %div.panel.panel-danger
      %div.panel-heading{:role => "tab", id: "heading_contact"}
        %h4.panel-title
          %a.collapsed{"aria-controls" => "collapse_contact", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse_contact"}
            Contact Log
      %div.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel", id: "collapse_contact"}
        %div.panel-body
          = render 'comments_log'

%div.row
  %div.col-sm-12
    = link_to "Back", :back, class: "btn btn-danger"
