<p id="notice"><%= notice %></p>

<h1>Listing Section Notes</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @section_notes.each do |section_note| %>
      <tr>
        <td><%= section_note.section_id %></td>
        <td><%= section_note.content %></td>
        <td><%= link_to 'Show', section_note %></td>
        <td><%= link_to 'Edit', edit_section_note_path(section_note) %></td>
        <td><%= link_to 'Destroy', section_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section note', new_section_note_path %>
