%ul.nav.nav-pills.nav-stacked
  %li{role:"presentation", class: (controller.class == Users::RegistrationsController ? 'active' : '')}
    = link_to "User Profile", edit_user_registration_path
  %li{role:"presentation"}
    = link_to "Users", "#"
  %hr
  %li{role:"presentation", class: (controller.class == AnnouncementsController ? 'active' : '')}
    = link_to "Announcements", announcements_path
  %li{role:"presentation", class: (controller.class == HelpsController ? 'active' : '')}
    = link_to "Help Documentation", helps_path
  %hr
  %li{role:"presentation", class: (controller.class == ContactTypesController ? 'active' : '')}
    = link_to "Contact Types", contact_types_path
  %li{role:"presentation", class: (controller.class == FieldsController ? 'active' : '')}
    = link_to "Fields", fields_path
  %li{role:"presentation", class: (controller.class == InstrumentsController ? 'active' : '')}
    = link_to "Instruments", instruments_path
  %li{role:"presentation", class: (controller.class == EnsemblesController ? 'active' : '')}
    = link_to "Ensembles", ensembles_path
  %li{role:"presentation"}
    = link_to "Recruit Statuses", recruit_statuses_path

