%ul.nav.nav-pills.nav-stacked
  %li{role:"presentation", class: (controller.class == Users::RegistrationsController && !(current_page?(all_users_path) || controller.action_name == "permission_error" || current_page?(new_custom_user_path) || controller.action_name == "reset_password" || controller.action_name == "edit_permissions") ? 'active' : '')}
    = link_to "User Profile", edit_user_registration_path
  %li{role:"presentation", class: (current_page?(all_users_path) || current_page?(new_custom_user_path) || controller.action_name == "permission_error" || controller.action_name == "reset_password" || controller.action_name == "edit_permissions"? 'active' : '')}
    = link_to "Users", all_users_path
  %hr
  %li{role:"presentation", class: (controller.class == AnnouncementsController ? 'active' : '')}
    = link_to "Announcements", announcements_path
  %li{role:"presentation", class: (controller.class == HelpsController ? 'active' : '')}
    = link_to "Help Documentation", helps_path
  %hr
  %li{role:"presentation", class: (controller.class == ContactTypesController ? 'active' : '')}
    = link_to "Contact Types", contact_types_path
  %li{role:"presentation", class: (controller.class == FieldsController ? 'active' : '')}
    = link_to "Fields", fields_path
  %li{role:"presentation", class: (controller.class == InstrumentsController ? 'active' : '')}
    = link_to "Instruments", instruments_path
  %li{role:"presentation", class: (controller.class == EnsemblesController ? 'active' : '')}
    = link_to "Ensembles", ensembles_path
  %li{role:"presentation", class: (controller.class == RecruitStatusesController ? 'active' : '')}
    = link_to "Recruit Statuses", recruit_statuses_path

