%div.row
  %div.col-sm-2
    %div.form-group.text-center
      - if student.recruit
        %span.glyphicon.glyphicon-registration-mark
      = student.full_name_reversed
  %div.col-sm-2
    = form_for(student.rank(@section)) do |f|
      %div.form-group
        %div.input-group
          %div.input-group-addon
            Rank
          = f.collection_select(:rank_id, @section.ranks.all.order(:index), :id, :name,
            { include_blank: "Unassigned" },
            {class: "form-control", onchange: "this.form.submit()"})
        = f.hidden_field :student_id, value: student.id
  %div.col-sm-2
    %div.form-group
      %div.input-group
        = link_to "Gigs", season_student_gigs_path(@section.season, student), class: "input-group-addon btn-primary btn"
        = text_field_tag :gig_count, student.season_gig_count(@section.season), {class: "form-control"}
  %div.col-sm-2
    %div.form-group
      %div.input-group
        = link_to "GDS", season_student_gds_index_path(@section.season, student), class: "input-group-addon btn-primary btn"
        = text_field_tag :gds_count, student.gdsCount(@section), {class: "form-control"}
  %div.col-sm-2
    %div.form-group
      %div.input-group
        = link_to "Score", season_student_scores_path(@section.season, student), class: "input-group-addon btn-primary btn"
        = text_field_tag :gds_count, student.gdsScore(@section), {class: "form-control"}
  %div.col-sm-2.text-center
    = link_to (fa_icon "desktop"), edit_student_path(student), class: "btn btn-success"
    = link_to (fa_icon "check"), sections_student_path(student), class: "btn btn-info"
    = link_to (fa_icon "archive"), student_archive_path(student), method: :delete, data: { confirm: 'Are you sure you wish to archive this student?' }, class: "btn btn-danger"
