%div.jumbotron
  %h1
    = @section.season.name
    |
    = @section.name

- if !@autogds.empty?
  %div.alert.alert-danger
    %strong
      Automatic GDS:
    = @autogds.map(&:full_name).join(", ")

- @ranks.each do |rank|
  %div.row
    %div.col-sm-12
      %div.panel.panel-primary
        %div.panel-heading
          %h3.panel-title
            %span
              Rank:
              = rank.name
        %div.panel-body
          - rank.students.where(:archive => false).order(:last_name, :first_name).each do |student|
            = render 'student_row', student: student

- if @unranked.size != 0
  %div.row
    %div.col-sm-12
      %div.panel.panel-danger
        %div.panel-heading
          %h3.panel-title
            %span
              Students Not Assigned to a Rank
        %div.panel-body
          - @unranked.each do |student|
            = render 'student_row', student: student

= link_to 'Edit', edit_section_path(@section), class: "btn btn-success"
= link_to 'Back', season_path(@section.season), class: "btn btn-danger"
