<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @rank.section_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @rank.name %>
</p>

<p>
  <strong>Index:</strong>
  <%= @rank.index %>
</p>

<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
