%div.jumbotron
  %h1
    Awards

%div.row
  %div.col-sm-12
    %div.panel.panel-primary
      %div.panel-heading
        %div.panel-title
          Search
      %div.panel-body
        %form.form-inline
          %div.form-group
            = label_tag "first_name", "First Name"
            = text_field_tag "first_name", nil, class: "form-control"
          %div.form-group
            = label_tag "last_name", "Last Name"
            = text_field_tag "last_name", nil, class: "form-control"
          %div.form-group
            %div.btn.btn-success
              Search

    %div.panel.panel-primary
      %div.panel-heading
        %div.panel-title
          Offices
      %div.panel-body
        - Office.where(hidden: [false, nil], ).where.not(name: "-- No Office --").order(:name).each_slice(4) do |slice|
          %div.row
            - slice.each do |office|
              %div.col-sm-3.bottom-margin
                %div.btn.btn-success.btn-block
                  = office.name

    %div.panel.panel-primary
      %div.panel-heading
        %div.panel-title
          Ribbons
      %div.panel-body
        - Ribbon.all.order(:index).each_slice(4) do |slice|
          %div.row
            - slice.each do |ribbon|
              %div.col-sm-3.bottom-margin
                %div.btn.btn-success.btn-block
                  = ribbon.name

    %div.panel.panel-primary
      %div.panel-heading
        %div.panel-title
          Officer Ranks
      %div.panel-body
        %div.table-responsive
          %table.table.table-striped.table-collapse
            %thead
              %tr
                %th
                  Hours
                %th
                  Rank
                %th
                  Inventory
                %th
                  List
                %th
                  Edit

            %tbody
              - OfficerRank.order(:hours).each do |rank|
                %tr
                  %th
                    = rank.hours
                  %td
                    = rank.name
                  %td
                    = rank.adjusted_inventory
                  %td
                    %div.btn.btn-success
                      List
                  %td
                    %div.btn.btn-primary
                      = fa_icon "edit"

