%div.jumbotron
  %h1
    Awards

%div.row
  %div.col-sm-12
    %div.panel.panel-primary
      %div.panel-heading
        %div.panel-title
          Search
      %div.panel-body
        = form_tag({}, {class: "form-inline"}) do
          = hidden_field_tag 'user_search'
          %div.form-group
            = label_tag "first_name", "First Name"
            = text_field_tag "first_name", nil, class: "form-control"
          %div.form-group
            = label_tag "last_name", "Last Name"
            = text_field_tag "last_name", nil, class: "form-control"
          %div.form-group
            = submit_tag "Search", class: "btn btn-success"

    %div.panel.panel-primary
      %div.panel-heading
        %div.panel-title
          Offices
          %span.pull-right
            = form_tag do
              = hidden_field_tag 'full_officer_search', ""
              = submit_tag "Complete List", class: "btn btn-success btn-xs"
      %div.panel-body
        - Office.where(hidden: [false, nil], ).where.not(name: "-- No Office --").order(:name).each_slice(4) do |slice|
          %div.row
            - slice.each do |office|
              %div.col-sm-3.bottom-margin
                = form_tag do
                  = hidden_field_tag 'office_search', office.id
                  = submit_tag office.name, class: "btn btn-success btn-block"

    %div.panel.panel-primary
      %div.panel-heading
        %div.panel-title
          Ribbons
          %span.pull-right
            = form_tag do
              = hidden_field_tag 'full_ribbon_search', ""
              = submit_tag "Complete List", class: "btn btn-success btn-xs"
      %div.panel-body
        - Ribbon.all.order(:index).each_slice(4) do |slice|
          %div.row
            - slice.each do |ribbon|
              %div.col-sm-3.bottom-margin
                = form_tag do
                  = hidden_field_tag 'ribbon_search', ribbon.id
                  = submit_tag ribbon.name, class: "btn btn-success btn-block"

    %div.panel.panel-primary
      %div.panel-heading
        %div.panel-title
          Officer Ranks
          %span.pull-right
            = form_tag do
              = hidden_field_tag 'full_rank_search', ""
              = submit_tag "Complete List", class: "btn btn-success btn-xs"
      %div.panel-body
        %div.table-responsive
          %table.table.table-striped.table-collapse
            %thead
              %tr
                %th
                  Hours
                %th
                  Rank
                %th
                  Inventory
                %th
                  List
                %th
                  Edit

            %tbody
              - OfficerRank.order(:hours).each do |rank|
                %tr
                  %th
                    = rank.hours
                  %td
                    = rank.name
                  %td
                    = rank.adjusted_inventory
                  %td
                    = form_tag do
                      = hidden_field_tag 'rank_search', rank.id
                      = submit_tag "List", class: "btn btn-success"
                  %td
                    - if current_user.check_permissions(:edit_records)
                      = link_to (fa_icon("edit")), awards_inventory_path(rank.id), class: "btn btn-primary"
                    - else
                      %div.btn.btn-default
                        = fa_icon "edit"

