%div.jumbotron
  %h1
    = @large_banner
  %div.lead
    = @small_banner

%div.row
  %div.col-sm-12
    %table.table.table-hover.table-condensed#dataTable
      %thead
        %tr
          %th
            :plain
              #
          %th.selected
            Name
          %th.selected
            Email
          - if @rank_info
            %th.selected
              Rank
            %th.selected
              Hours
          - if @office_info
            %th.selected
              Office
          - if @ribbon_info
            - Ribbon.order(:index).each do |ribbon|
              %th.selected
                = ribbon.name
          %th.text-center
            Awards Details
          %th.text-center
            Student Details
      %tbody
        - @students.each_with_index do |student, i|
          %tr
            %th.row
              = i + 1
            %td
              = student.full_name_reversed
            %td
              = student.email
            - if @rank_info
              - rank = student.student_officer_ranks.map(&:officer_rank).max_by(&:hours)
              %td
                = rank.name
              %td
                = rank.hours
            - if @office_info
              %td
                = student.student_offices.first.try(:office).try(:name)
            - if @ribbon_info
              - Ribbon.order(:index).each do |ribbon|
                - if !StudentRibbon.where(student: student, ribbon: ribbon).empty?
                  %td.text-center
                    = fa_icon "check"
                - else
                  %td
            %td.text-center
              = link_to fa_icon("trophy"), awards_student_path(student), class: "btn btn-warning btn-xs"
            %td.text-center
              = link_to fa_icon("desktop"), student_path(student), class: "btn btn-success btn-xs"

%div.row
  %div.col-sm-12
    = link_to "Back", awards_path, class: "btn btn-danger"
