%div.jumbotron
  %h1
    Awards for
    = @student.full_name

= hidden_field_tag "student_id", @student.id

%div.row
  %div.col-sm-12
    %div.panel.panel-primary
      %div.panel-heading
        %div.panel-title
          Office
      %div.panel-body
        = collection_select(:student_office, :office_id, Office.where(hidden: [false,nil]).to_a.sort_by{|a| a.name}, :id, :name, {selected: @office_id}, {class: "form-control", :disabled => !current_user.check_permissions(:edit_user_records)})
  %div.col-sm-12
    %div.panel.panel-primary
      %div.panel-heading
        %div.panel-title
          Officer Ranks
      %div.panel-body
        %div.table-responsive
          %table.table.table-striped.table-collapse
            %thead
              %tr
                %th
                  Hours
                %th
                  Rank
                %th
                  Date Approved
                %th
                  Date Issued
                %th
                  Date Returned

            %tbody
              - OfficerRank.order(:hours).each do |rank|
                %tr
                  = hidden_field_tag "officer_rank_id", rank.id
                  - student_officer_rank = StudentOfficerRank.where(student: @student, officer_rank: rank).first
                  %th
                    = rank.hours
                  %td
                    = rank.name
                  %td
                    - if !student_officer_rank.nil? && !student_officer_rank.date_approved.nil?
                      = student_officer_rank.date_approved.to_formatted_s(:long)
                    - else
                      - if current_user.check_permissions(:edit_user_records)
                        %div.btn.btn-success.approve.student_rank
                          Approve
                      - else
                        %div.btn.btn-default
                          Approve
                  %td
                    - if !student_officer_rank.nil? && !student_officer_rank.date_issued.nil?
                      = student_officer_rank.date_issued.to_formatted_s(:long)
                    - else
                      - if current_user.check_permissions(:edit_user_records)
                        %div.btn.btn-success.issue.student_rank
                          Issue
                      - else
                        %div.btn.btn-default
                          Issue
                  %td
                    - if !student_officer_rank.nil? && !student_officer_rank.date_returned.nil?
                      = student_officer_rank.date_returned.to_formatted_s(:long)
                    - else
                      - if current_user.check_permissions(:edit_user_records)
                        %div.btn.btn-success.return.student_rank
                          Return
                      - else
                        %div.btn.btn-default
                          Return
  %div.col-sm-12
    %div.panel.panel-primary
      %div.panel-heading
        %div.panel-title
          Ribbons
      %div.panel-body
        %div.table-responsive
          %table.table.table-striped.table-collapse
            %thead
              %tr
                %th
                  Name
                %th
                  Description
                %th
                  Earned
                %th
                  Issued

            %tbody
              - Ribbon.where(hidden: [false, nil]).order(:index).each do |ribbon|
                %tr
                  - student_ribbon = StudentRibbon.where(student: @student, ribbon: ribbon).first
                  %th
                    = ribbon.name
                  %td
                    = ribbon.description
                  %th
                    = check_box_tag("student_ribbon[#{@student.id}][#{ribbon.id}]", ribbon.id, !student_ribbon.nil?, {class: "student_ribbon_checkbox", :disabled => !current_user.check_permissions(:edit_user_records)})
                    %span.earned_date
                      - if !student_ribbon.nil?
                        = student_ribbon.created_at.strftime('%m/%d/%y')
                      - else
                        XX/XX/XX
                  %th
                    = check_box_tag("student_ribbon[#{@student.id}][#{ribbon.id}]", ribbon.id, !student_ribbon.try(:issued_at).nil?, {class: "student_ribbon_checkbox_2", :disabled => (!current_user.check_permissions(:edit_user_records) || student_ribbon.nil?)})
                    %span.issued_date
                      XX/XX/XX
%div.row
  %div.col-sm-12
    = link_to "Back", awards_path, class: "btn btn-danger"
