<p id="notice"><%= notice %></p>

<p>
  <strong>Season:</strong>
  <%= @game.season_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Played on:</strong>
  <%= @game.played_on %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
