%div.jumbotron
  %h1
    Online Toolbox
  %div.lead
    Purdue University Bands
%div.row
  %div.col-sm-6
    %div.row.col-sm-12
      %div.panel.panel-default
        %div.panel-heading
          %div.panel-title
            Favorites
        %div.panel-body
          - @favorites.each do |favorite|
            - case favorite.dest_type
            - when 0
              = render 'favorite_season', favorite: favorite
            - when 1
              = render 'favorite_section', favorite: favorite
    %div.row.col-sm-12
      %div.panel.panel-default
        %div.panel-heading
          %div.panel-title
            Help
        %div.panel-body
          - if @helps.size == 0
            No help documents available.
          - else
            - @helps.each do |help|
              %div.row
                %div.col-sm-12
                  - if help.url.starts_with?('http://', 'https://')
                    = link_to help.name, help.url
                  - else
                    = link_to help.name, 'http://' + help.url
  %div.col-sm-6
    %div.panel.panel-default
      %div.panel-heading
        %div.panel-title
          Announcements
      %div.panel-body
        - @announcements.each do |announcement|
          %div.row
            %div.col-sm-12
              %div.panel.panel-default
                %div.panel-body
                  %div.row
                    %div.col-sm-12
                      %strong
                        = announcement.user.full_name
                        |
                        = announcement.created_at.to_time.strftime('%a %b %d, at %l:%M %p')
                  %div.row
                    %div.col-sm-12
                      %div.announcement_text
                        = announcement.content

