<%= form_for(@recruit_status) do |f| %>
  <% if @recruit_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recruit_status.errors.count, "error") %> prohibited this recruit_status from being saved:</h2>

      <ul>
      <% @recruit_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :hidden %><br>
    <%= f.check_box :hidden %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
