%div.jumbotron
  %h1
    Settings

%div.row
  %div.col-sm-3
    = render 'shared/settings_panel'
  %div.col-sm-9
    %div.panel.panel-primary
      %div.panel-body
        %h1.no-top-margin
          Recruit Statuses

        %div.alert.alert-danger
          %strong
            Warning!
          Removing entries here will affect comments for recruits

        %table.table.table-hover
          %thead
            %tr
              %th
                Name
              %th
                Hidden
              %th
                :plain
                  # Contacts
              %th
              %th
          %tbody
            - @recruit_statuses.each do |recruit_status|
              %tr
                %td
                  = recruit_status.name
                %td
                  = recruit_status.hidden
                %td
                  = recruit_status.comments.size
                %td
                  = link_to 'Edit', edit_recruit_status_path(recruit_status)
                %td
                  = link_to 'Destroy', recruit_status, method: :delete, data: { confirm: 'Are you sure?' }

        = link_to 'New Recruit Status', new_recruit_status_path, class: "btn btn-success"
