<h1>Listing recruit_statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hidden</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recruit_statuses.each do |recruit_status| %>
      <tr>
        <td><%= recruit_status.name %></td>
        <td><%= recruit_status.hidden %></td>
        <td><%= link_to 'Show', recruit_status %></td>
        <td><%= link_to 'Edit', edit_recruit_status_path(recruit_status) %></td>
        <td><%= link_to 'Destroy', recruit_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recruit status', new_recruit_status_path %>
