<h1>Listing addresses</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Field</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.student_id %></td>
        <td><%= address.field_id %></td>
        <td><%= address.address_1 %></td>
        <td><%= address.address_2 %></td>
        <td><%= address.city %></td>
        <td><%= address.state_id %></td>
        <td><%= address.zip %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
