<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @address.student_id %>
</p>

<p>
  <strong>Field:</strong>
  <%= @address.field_id %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @address.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @address.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state_id %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @address.zip %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
