%div.jumbotron
  %h1
    Settings

%div.row
  %div.col-sm-3
    = render 'shared/settings_panel'
  %div.col-sm-9
    %div.panel.panel-primary
      %div.panel-body
        %h1.no-top-margin
          Ensembles

        %div.alert.alert-danger
          %strong
            Warning!
          Removing entries here will affect csv import and filtering of recruits

        %table.table.table-hover
          %thead
            %tr
              %th
                Name
              %th
                :plain
                  # Associations
              %th
              %th
          %tbody
            - @ensembles.each do |ensemble|
              %tr
                %td
                  = ensemble.name
                %td
                  = ensemble.student_instruments.size
                %td
                  = link_to 'Edit', edit_ensemble_path(ensemble)
                %td
                  = link_to 'Destroy', ensemble, method: :delete, data: { confirm: 'Are you sure?' }
        = link_to 'New Ensemble', new_ensemble_path, class: "btn btn-success"
