%div.jumbotron
  %h1
    = @student.full_name
  %div.lead
    = @season.name
    |
    Gigs

- @games.each do |game|
  - gigs = game.gigs.where(student_id: @student.id)
  %div.row
    %div.col-sm-12
      %div.panel.panel-primary
        %div.panel-heading
          %div.panel-title
            %span
              = game.name
              on
              = game.played_on.to_time.strftime('%b %d, %Y')
        %div.panel-body
          - if gigs.empty?
            %div.row
              %div.col-sm-12
                No Gigs
          - else
            %ul.list-group
              - gigs.each do |gig|
                %li.list-group-item
                  = gig.offense
                  %span.badge
                    = gig.value
