%div.jumbotron
  %h1
    = @season.name
  %div.row.bottom-spacer
    %div.col-sm-4
      %span.label.label-primary
        Start:
      = "&nbsp;".html_safe
      = @season.start.strftime("%B %e, %Y")
    %div.col-sm-4
      %span.label.label-primary
        End
      = "&nbsp;".html_safe
      = @season.end.strftime("%B %e, %Y")

- @games.each do |game|
  %div.row
    %div.col-sm-12
      %div.panel.panel-primary
        %div.panel-heading
          %div.panel-title
            %span
              = game.name
              on
              = game.played_on.to_time.strftime('%b %d, %Y')
        %div.panel-body
