<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @field.name %>
</p>

<p>
  <strong>Index:</strong>
  <%= @field.index %>
</p>

<p>
  <strong>Group:</strong>
  <%= @field.group_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @field.description %>
</p>

<p>
  <strong>Options:</strong>
  <%= @field.options %>
</p>

<p>
  <strong>Hidden:</strong>
  <%= @field.hidden %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
