<p id="notice"><%= notice %></p>

<h1>Listing Favorite Instruments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Instrument</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorite_instruments.each do |favorite_instrument| %>
      <tr>
        <td><%= favorite_instrument.user_id %></td>
        <td><%= favorite_instrument.instrument_id %></td>
        <td><%= link_to 'Show', favorite_instrument %></td>
        <td><%= link_to 'Edit', edit_favorite_instrument_path(favorite_instrument) %></td>
        <td><%= link_to 'Destroy', favorite_instrument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favorite instrument', new_favorite_instrument_path %>
