%div.jumbotron
  %h1
    Favorite Instruments

= form_tag create_multiple_user_favorite_instruments_path do
  %div.row
    - @instruments.each do |instrument|
      %div.col-xs-4
        = label "instruments[#{instrument.id}]", instrument.name.titleize
        = check_box_tag "instruments[#{instrument.id}]", instrument.id, @favorited.include?(instrument)
  = submit_tag "Submit", class: "btn btn-success"
