%nav.navbar.navbar-inverse.navbar-fixed-top
  %div.container
    %div.navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#navbar", "data-toggle" => "collapse", type: "button", "aria-expanded" => "false", "aria-controls" => "navbar"}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to "Online Toolbox", root_path, class: "navbar-brand"
    %div.collapse.navbar-collapse#navbar
      %ul.nav.navbar-nav
        %li
          = link_to "Home", root_path
        %li
          = link_to "Students", students_path
        %li
          = link_to "Seasons", seasons_path
        - if !@favorites.empty?
          %li.dropdown
            %a.dropdown-toggle{'href'=>"#", 'data-toggle'=>"dropdown", "id"=>"dropdownNavBar", 'role'=>"button", 'aria-expanded'=>"false", 'aria-labelledby'=>"dropdownNavBar"}
              Favorites
              %span.caret
            %ul.dropdown-menu{'role'=>"menu"}
              - @favorites.each do |favorite|
                %li
                  - case favorite.dest_type
                  - when 0
                    - season = Season.find(favorite.dest_id)
                    = link_to season.name, season_path(season)
                  - when 1
                    - section = Section.find(favorite.dest_id)
                    = link_to "#{section.season.name} | #{section.name}", section_path(section)

      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Settings", edit_user_registration_path
        %li
          - if user_signed_in?
            = link_to "Sign Out", destroy_user_session_path, :method => :delete
          - else
            = link_to "Sign In", new_user_session_path
